EUREKA:
    INSTANCE:
        HOSTNAME: eureka-server
    CLIENT:
        SERVICE_URL:
            DEFAULT_ZONE: http://eureka-server:8761/eureka/
MONGODB:
    URI:
KEYCLOAK:
    JWKS_CERTS: http://auth-service:8090/realms/auth-service/protocol/openid-connect/certs
JWT_ISSUER_URI: http://auth-service:8090/realms/auth-service